@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter";
    font-size:1em;
}
main{
    display: flex;
    justify-content: space-around;
}
.container{
    margin: 10em 0;
    width: 35%;
    background-color: hsl(0, 0%, 12%);
    display:flex;
    border-radius: 20px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 0;
    
}

.image{
    border-radius: 50%;
    width: 100px;
}
.nome{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5em 0 0.5em 0 ;
}
.endereco{
    text-align: center;
    font-size:0.7rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin: 0;
}
.bio{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5em 0 1em 0;
    padding: 1rem
}
.nome,.bio{
    color: white;
    
}

.attribution{
    text-align: center;
    color: white;
}
.botoes{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.botoes__item{
    text-align: center;
    margin-bottom: 10px;
    padding: 1em;
    border: none;
    border-radius: 10px;
    
    
    color: white;
    background-color: hsl(0, 0%, 20%)
}
.botoes__item:hover{
    background-color: hsl(0, 0%, 40%);
    color: white;
}
a{
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    body{
        display: block;
        margin: 1em;
        padding: 0;
    }
    .container{
        margin: 0;
        width: 90%;
        height: auto;
    }
    .mainContainer{
        padding-bottom: 1em;
    }
}

