body{
    background-color: hsl(0, 0%, 8%);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
}
#mainContainer{
    margin: 90px;
    width: 30%;
    background-color: hsl(0, 0%, 12%);
    display:flex;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
    
}

#image{
    
    border-radius: 50%;
    width: 100px;
}
h1{
    font-size: 20px;
    margin-top: 10;
}
h3{
    font-size: 10px;
    margin-bottom: 15;
}
h1,h3{
    color: white;
    
}
h2{
    font-size: 10px;
    color: hsl(75, 94%, 57%);
    margin: 0;
}
.attribution{
    text-align: center;
    color: white;
}
#buttons{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.buttons__item{
    text-align: center;
    margin-bottom: 10px;
    padding: 1em;
    border: none;
    border-radius: 10px;
    
    
    color: white;
    background-color: hsl(0, 0%, 20%)
}
.buttons__item:hover{
    background-color: hsl(0, 0%, 40%);
    color: white;
}
.attribution, a{
    font-size: 15px;
    text-decoration: none;
    color:white;
}
.attribution a:hover{
    color: hsl(0, 0%, 60%);
}
@media screen and (max-width: 1000px) {
    body{
        display: block;
        margin: 0;
        padding: 0;
    }
    #mainContainer{
        margin: 0;
        width: 100vw;
        height: auto;
    }
    section{
        padding-bottom: 1em;
    }
}